<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">

<title>Amazon</title>
</head>

<body>
<div th:replace="Navbar"></div>

	<div class="container">
		<h3>In Active Reviews</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Comment</th>
					<th>Status</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="review : ${reviews}">

					<td th:text="${review.comment}" />
					<td th:text="${review.accepted}" />
					<td>
						<div class="row">

							<div class="col-small">
								<!-- Add "update" button/link -->
								<form action="#" th:action="@{/review/enableReview}"
									method="POST">

									<input type="hidden" name="id"
										th:value="${review.id}" />
									<button type="submit" class="btn btn-info btn-sm ml-3 mr-1"onclick="if (!(confirm('Are you sure you want to post this review ?'))) return false">Activate</button>

								</form>
							</div>
						</div>
				</tr>
			</tbody>
		</table>

		<form th:action="@{/seller/inActive_Sellers}">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Sellers Pending Activation</button>
		</form>
	</div>
</body>
</html>