<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<title>Amazon</title>
</head>

<body>

<div th:replace="Navbar"></div>

	<div class="container">
		<h3>Review Your Informations</h3>
		<hr>
                
           <h5>Payment information</h5>
           <table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Card Number</th>
					<th>Card csv</th>
					<th>Card Type</th>
				</tr>
			</thead>

			<tbody>
				<tr>

					<td th:text="${session.addedpayment.number}" />
					<td th:text="${session.addedpayment.csv}" />
					<td th:text="${session.addedpayment.payType}" />
					
				</tr>
			</tbody>
		</table>
	</div>


	<div class="container">
                
           <h5>Shipping Address information</h5>
           <table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>state</th>
					<th>City</th>
					<th>Zip Code</th>
					<th>Address Line</th>
				</tr>
			</thead>

			<tbody>
				<tr>

					<td th:text="${session.addedshippingAddress.state}" />
					<td th:text="${session.addedshippingAddress.city}" />
					<td th:text="${session.addedshippingAddress.zipCode}" />
					<td th:text="${session.addedshippingAddress.addressLine}" />
					
					
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="container">
                
           <h5>Billing Address information</h5>
           <table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>state</th>
					<th>City</th>
					<th>Zip Code</th>
					<th>Address Line</th>
					<th>Total</th>
					<th>Current Points</th>
				</tr>
			</thead>

			<tbody>
				<tr>

					<td th:text="${session.addedBillingAddress.state}" />
					<td th:text="${session.addedBillingAddress.city}" />
					<td th:text="${session.addedBillingAddress.zipCode}" />
					<td th:text="${session.addedBillingAddress.addressLine}" />
					<td th:text="${session.totalPrice}" />
					<td th:text="${session.points}" />
				</tr>
			</tbody>
		</table>
	</div>
							 <div >
							<form action="#" th:action="@{/orders/placeOrder}"
									method="GET">
								<input type="hidden" name="p" th:value="${session.points}">
                                    <h2>
									Total Cost <span th:text="${session.totalPrice}" > </span>
									$
										<button type="submit" class="btn btn-info btn-sm ml-3 mr-1"> Pay Full Amount </button>
									</h2>
							</form>
							</div>
							<div>
								<form action="#" th:action="@{/orders/placeOrder}"
									  method="GET">
									<h2>
										Use Your Points To Pay
										<div style="display: inline" th:if="${session.totalPrice} - ${session.points} >= 0">
										<span th:text="${session.totalPrice} - ${session.points}" > </span>
										</div>
										<div style="display: inline" th:if="${session.totalPrice} - ${session.points} < 0">
											<span> 0 </span>
										</div>
										$ Instead
										<input type="hidden" name="p" th:value="${session.points}">
										<button type="submit" class="btn btn-info btn-sm ml-3 mr-1"> Use My points </button>
									</h2>
								</form>
								</form>
							</div>


</body>
</html>

