<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/sellerHome.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Role visualization</title>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div sec:authorize="hasAuthority('ADMIN')">
        <div th:include="adminPindingReview"></div>
	</div>

	<div sec:authorize="hasAuthority('SELLER')">
		<div th:include="sellersHome"></div>
	</div>

	<div sec:authorize="hasAuthority('BUYER')">
		<div th:include="buyerHome"></div>
	</div>

</body>
</html>