<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
        <title>Role visualization</title>

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<div sec:authorize="hasAuthority('ADMIN')" > 
	 
	<h4> Admin Page</h4>
	
	<form th:action="@{/review/getReviws}">
	  <input type ="submit" name="Get Reviews" value="Get Pinding Reviews">
	</form>	
	<form th:action="@{/seller/inActive_Sellers}">
	  <input type ="submit" name="Get Reviews" value="Get InActive Sellers">
	</form>		

</div>
 
<div sec:authorize="hasAuthority('SELLER')" > 
	<h4> Admin Page</h4>
</div> 

<div sec:authorize="hasAuthority('BUYER')" > 
	<h4> Admin Page</h4>
</div> 

</body>
</html>