<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

	<title>Amazon</title>
</head>

<body>
<div th:replace="Navbar"></div>

	<div class="container">

		<h3>Orders</h3>
		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Order Code</th>
					<th>Order Price</th>
					<th>Order Status</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="order : ${orders}">

					<td th:text="${order.Id}" />
					<td th:text="${order.totalPrice}" />
					<td th:text="${order.orderStatus}" />
					<td th:if="${order.orderStatus.name() != 'CANCELLED'}">
						
						<div style="display: inline" class="row">
							<div style="display: inline" class="col-small">
								<!-- Add "update" button/link -->
								<form style="display: inline" action="#" th:action="@{/orders/updateOrderStatus}"
									method="GET">

									<select style="margin-left: 20px;" name="status">
										<option th:value= "${status}" th:text="${order.orderStatus}"></option>
									    <option th:each="status : ${T(amazon.layer.domainn.OrderStatus).values()}"
									    th:value="${status}" th:text="${status}"></option>
									</select>
									<input type="hidden" name="id" th:value="${order.Id}" />
									<button style="display: inline" type="submit" class="btn btn-info btn-sm ml-3 mr-1">update</button>
								</form>
							</div>

							<div style="display: inline" class="col-small">
								<form style="display: inline" action="#" th:action="@{/orders/order}" method="GET">
									<input type="hidden" name="id" th:value="${order.Id}" />
									<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Details</button>
								</form>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
