<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">

<title>Update Product</title>
</head>

<body>

<div th:replace="Navbar"></div>
	<div class="container">

		<hr>

		<p class="h4 mb-4">Update Product</p>

		<form action="#" th:action="@{/products/updateProduct}"
			th:object="${product}" method="POST" enctype="multipart/form-data">

			<!-- Add hidden form field to handle update -->


			<input type="text" th:field="*{name}" class="form-control mb-4 col-4"
				placeholder="Product Name">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="text-color:red">Password Match Error</p>	
			    <div style="clear: both; display: block; height: 10px;"></div>	
				
				 <input type="text"
				th:field="*{discription}" class="form-control mb-4 col-4"
				placeholder="Discription">
				 <p th:if="${#fields.hasErrors('discription')}" th:errors="*{discription}" style="text-color:red">Password Match Error</p>	
			    <div style="clear: both; display: block; height: 10px;"></div>	
			
				<input type="text"
				th:field="*{quntityAvaliable}" class="form-control mb-4 col-4"
				placeholder="Units In Stock">
				<p th:if="${#fields.hasErrors('quntityAvaliable')}" th:errors="*{quntityAvaliable}" style="text-color:red">Password Match Error</p>	
			    <div style="clear: both; display: block; height: 10px;"></div>	
			    
			    <input type="text"
				th:field="*{price}" class="form-control mb-4 col-4"
				placeholder="Unit Price">
			    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="text-color:red">Password Match Error</p>	
			    <div style="clear: both; display: block; height: 10px;"></div>	
			
			
				 <input name="productImage"
				id="productImage" class="btn btn-outline-secondary mb-4 col-4"
				type="file" /> <br> <br> <input type="hidden" name="id"
				th:value="${product.id}" />
				

			<button type="submit" class="btn btn-info col-2">Update</button>

		</form>

		<hr>
		<a th:href="@{/home}">Back to Products list</a>

	</div>
</body>

</html>










